<em>Favorites:</em> <a href="/about/favorites/boulder">Boulder</a> / <a href="/about/favorites/washington-dc">DC</a> / <a href="/about/favorites/portland">PDX</a> / <a href="/about/favorites/san-francisco">SF</a> / <a href="/about/favorites/chicago">Chicago</a> / <a href="/about/favorites/yosemite">Yosemite</a>
