<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"> <!-- content can also have ", initial-scale=1.0" -->

{% if page.title == "👨‍💻" %}
  <title>Benjamin Chait</title>
{% else %}
  <title>{{ page.title | escape }} - Benjamin Chait</title>
{% endif %}
 
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="author" href="https://plus.google.com/112364401751366956186/posts"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon_io/site.webmanifest">
</head>
