---
layout: default
---
<a class="muted small" href="/">{{ site.title | escape }}</a>
<h1>{{ page.title | escape }}</h1>
<p class="muted small">{{ page.date | date: "%-d %B %Y" }}</p>
{{ content }}

{% assign previousPost = collections.postsByDate | getNextCollectionItem: page %}
{% assign nextPost = collections.postsByDate | getPreviousCollectionItem: page %}

<p class="not-muted small">
  {% if previousPost %}
        <a class="not-muted" href="{{ previousPost.url | url }}">← {{ previousPost.data.title }}</a>
  {% endif %}
  {% if previousPost and nextPost %} / {% endif %}
  {% if nextPost %}
        <a class="not-muted" href="{{ nextPost.url | url }}">{{ nextPost.data.title }} →</a>
  {% endif %}
</p>

{% include footer.html %}
