---
layout: default
pagination:
  enabled: true
---

<article id="post-idgoeshere">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title | escape }}</h1>
    <div class="entry-meta">
      <span class="entry-date">{{ page.date | date: "%-d %B %Y" }}</span>
    </div>
  </header>
  <div class="entry-content">
    {{ content }}
  </div>
</article>

<div class="post-navigation">
  {% if page.previous.url %}
    <a class="post-prev" href="{{page.previous.url}}">← {{page.previous.title}}</a>
  {% endif %}
  {% if page.previous.url and page.next.url %}<br /><!-- &nbsp;×&nbsp;//-->{% endif %}
  {% if page.next.url %}
    <a class="post-next" href="{{page.next.url}}">→ {{page.next.title}}</a>
  {% endif %}
</div>
